li:first-child { border-bottom: 0; }
li:nth-child(3) { border-bottom: 3px solid #3af; }
li:hover { background-color: #3af; border-bottom: 3px solid #3af; }
li a:hover { color: white; }

h2, p { text-align: center; }
.articulo { padding-top: 0; }
p { margin-bottom: 20px;}

.flexi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexi a,
.flexi button {
  margin: 2px 4px!important;
}
/*SLIDER*/
.slider {
  max-width: 640px;
  margin: auto;
}

/*ACCORDION*/
[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

[data-accordion] {
    line-height: 1;
}

[data-control],
[data-content] > * {
    border-bottom: 1px solid #888;
    padding: 10px;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 25px;
    font-weight: 200;
    color: #444;
    height: 15px;
    width: 24px;
    background: url('../images/down.png') center center no-repeat;
    background-size: 50%;
}

[data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*OUIBOUNCE*/
#modal-card {
    border: 2px solid #333;
    width:400px;
    padding: 25px;
    box-shadow: 0 0 10px #999;
    background: white;
    text-align: center;
    position: fixed;
    top: 140px;
    left: calc(50vw - 200px);
    display: none;
}

@media (max-width: 900px) {
  li:first-child { background: inherit; }
  li:nth-child(3) { border-bottom: 0; background: #3af; }
	li:hover { background-color: #3af; border-bottom: 0; }
}
