/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300');

body {
	margin: 0; border: 0;
	font-family: 'Dosis', sans-serif;
}

#header,
h1, h2, h3, h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}

h4 { margin-bottom: 10px;}
p { margin-top: 0; margin-bottom: 40px;}

#header {
	height: 120px;
	line-height: 120px;
	text-align: center;
	background: #333;
	color: white;
	font-size: 2.8em;
}

#barra,
#main {
	width: 900px;
	margin: auto;
}

#main {
	box-sizing: border-box;
	border: 1px solid #ccc;
	box-shadow: 0 0 6px #cccb;
  background: #f3f3f3;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 0 25px;
}

ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li a {
	display: flex;
	color: black;
	padding: 16px 30px;
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
	box-sizing: border-box;
}

li:first-child { border-bottom: 3px solid #3af; }
li:hover { background-color: #3af; border-bottom: 3px solid #3af; }
li a:hover { color: white; }

.articulo {
	padding: 28px;
}

i { color: #3af; }

@media (max-width: 900px) {
	#barra,
	#main {
		width: auto;
	}
	ul {
		display: block;
		width: auto;
	}
	li a {
		padding: 8px 30px;
		justify-content: center;
	}

	li:first-child { border-bottom: 0; background: #3af; }
	li:hover { background-color: #3af; border-bottom: 0; }
}
