/*GENERAL*/
body {
	margin: 0; border: 0;
	font-family: sans-serif;
}

#header {
	width: 100%;
	height: 140px;
	line-height: 140px;
	text-align: center;
	background: #222;
	color: white;
	font-size: 2.5em;
  /*text-shadow: 0 0 6px white;*/
}

#barra, #main {
	width: 900px;
	margin: auto;
}

#main {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px #bbb;
  background: #f3f3f3;
	padding: 25px;
}

#barra ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

#barra ul li {
	display: inline-block;
	color: black;
	padding: 10px 30px;
	transition: all .3s ease;
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

#barra ul li:hover {
	color: white;
	background-color: #333;
}

.articulo {
	padding: 28px;
}
