/*ACCORDION*/

[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

/* Basic Theme */

[data-accordion] {
    line-height: 1;
}

[data-control],
[data-content] > * {
    border-bottom: 1px solid #888;
    padding: 10px;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 25px;
    font-weight: 200;
    color: #444;
    height: 15px;
    width: 24px;
    background: url('../images/down.png') center center no-repeat;
    background-size: 50%;
}

[data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg); 
    -ms-transform: rotate(-180deg); 
    transform: rotate(-180deg); 
}

/*OUIBOUNCE*/

#modal-card {
    border: 2px solid #333;
    margin: 2px auto;
    width:400px;
    padding: 25px;
    box-shadow: 0 0 10px #999;
    background: white;
    text-align: center;
    display: none;
}

.modal-background {
    background: #999;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: -5;
}